.scrollbar::-webkit-scrollbar {
    height: 9px;
    width: 100%;
}

.scrollbar::-webkit-scrollbar-track {
    opacity: 20%;
    background-color: #2C2C2C;
      border-radius: 15px;

}

.scrollbar::-webkit-scrollbar-thumb {
    background: #5B5B5B;
      border-radius: 3px;
  }

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #DDD;
  }