.trackrange { 
     border-radius: 0.5rem;
}

.trackrange::-webkit-slider-runnable-track {
    -webkit-appearance: none; /* Override default CSS styles for webkit*/
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
    height: 1.1rem;
    width: 100%;
    border-radius: 0.5rem;

}

.trackrange::-webkit-slider-thumb {
    appearance: none;
    height: 2.2rem;
    width: 2.2rem;
    background: url(../../../assets/pricing-page/expand-left-right-fill.svg) #2F8481 no-repeat center;
    background-size: 19px;
    border-radius: 9999px;
    transform: translateY(-25%);
}